extends ../../layouts/default.pug
include  ../../mixins/table-tree.pug


block main
  
  h1 Products categories

  .card.mb-3
    .card-header List
      .card-body
        .row
          .col-8
          .col-4
            a(
              href=`${prefixAdmin}/products-category/create`
              class="btn btn-outline-success"
            ) + Add

        table(
          class="table table-hover table-sm"
          checkbox-multi
        )
          thead
            tr
              th
                input(type="checkbox" name="checkall")
              th Id
              th Thumbnai
              th Title
              th Position
              th Status
              th Action

          tbody
            +table-tree(records)