mixin alert-update-message(time)
    - if (messages.success)
        .message.success 
        div(
            class="alert alert-success" 
            show-alert
            data-time=time) #{messages.success} <span close-alert>x</span>