extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/product-layout.pug



block main 
    .container.my-3 
        .row 
            .row-12 
                +box-head("Kết quả tìm kiếm")
        if(products.length > 0)
            +product-grid(products)
        else 
            h3(class="text-center") Không tim thấy sản phẩm nào