.sider
  .inner-menu
    ul 
      li
        a(href=`${prefixAdmin}/dashboard`) Dasboard
      li        
        a(href=`${prefixAdmin}/products-category`) Products category
      li
        a(href=`${prefixAdmin}/products/recycle`) Recycle Item
